/*/////////////// General styles ///////////////*/

html {
    font-family: 'Noto Serif', serif;
    color: rgb(31, 31, 31);
    font-size: 16px;
    background-color: #f5f5f5;
}

a {
    color: inherit;
    text-decoration: inherit;
}


/* header styles */

header {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 2;
    justify-content: flex-end;
    padding-right: 2vw;
    background-color: #f5f5f5;
    align-items: center;
}

header span {
    padding: 1vw 2vw;
}


.header-image img {
    overflow: contain;
    height: 2vw;
    width: auto;
}


/* Hero section styles */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../images/Edinburgh/DSC_0078.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: none;
 
}

.hero span:hover {
    opacity: 0.5;
    transition: 0.2s ease-in-out;
}

.hero h1 {
    font-size: 7vw;
    margin: 3vw;
    position: relative;
    bottom: 5vh;
}

.hero span {
    font-size: 1.5vw;
    position: relative;
    bottom: 5vh;
}


@media only screen and (max-width: 1024px) {

    .hero {
        background-image: url(../images/Edinburgh/DSC_0298.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: none;
    }

    .hero h1 {
        bottom: 20vh;
        color: white;
        font-size:8vw;
    }

    .hero span {
        font-size: 3vw;
        bottom: 20vh;
        color: white;
    }

} 



/*//////////////////// Gallery styles //////////////////*/

.gallery-container {
    display: flex;
    height: 93vh;
    position: relative;
    top: 3vw;
    flex-direction: row;
    align-items: center;
}

#gallery .image-container-slick {
    position: relative;
    left: 20vw;
    height: 30vw;
    width: 45vw;
    overflow: contain;
    
}



.slick-image img {
    width: auto;
    height: 30vw;
    overflow: contain;
    margin: auto;
}




#gallery .side-menu {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 10vw;
    width: 15vw;
    height: 15vw;
    padding: vw;
    font-size: 1vw;
}

#gallery .side-menu span {
    padding: 0.7vw;
}

#gallery .side-menu span:hover {
    opacity: 0.5;
}


/*//////////////////// About styles //////////////////*/


#about section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    position: relative;
    top: 5rem;
}

#about .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 95%;
    
}


#about .image-container {
    max-width: 60%;
    height: auto;
    overflow: contain;

}

#about img {
    width: 100%; 
    height: auto;
}


@media only screen and (max-width: 674px) {
    #about .image-container {
        width: 90%;
        height: auto;
    }

    #about img {
        width: 90%;
        height: auto;
    }

    #about p {
        max-width: none;
    }

 
}

#about p {
    display: block;
    max-width: 70vh;
    padding: 0 5rem;
    margin-top: 3vw;
    text-align: left;
    line-height: 3vh;
    font-size: 2vh;
}

#about #instagram {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
}